*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1{
    background-size: cover;
    background: url("./images/image1.png") ;
    background-position: center;
    background-repeat: no-repeat;
   width:100%;
   height:100vh;
   

}


.top{
    display: flex;
    justify-content: space-between;
}
.navBtns{
     padding-top: 20px ;
     padding-right: 150px;
}

.navBtns button{
    padding: 20px 50px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    color: white;
}

.navBtns button:nth-child(1){
    background-color: transparent;
}
.navBtns button:nth-child(2){
    background-color: #23A6F0;
    border-radius: 4px;
}
.btn{
    text-align: center;
}
h1{
    padding-left: 200px;
}
.navbar{
    display:flex;
    gap: 30px;
    align-items: center;
    padding-top: 20px;

}

.navbar ul{
    list-style: none;
    display: flex;
    gap: 15px;
    font-size:x-large;
    
}
.navbar a{
    padding: 10px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:white;
}

.center{
    font-size:xx-large;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    color: whitesmoke;
    padding-top: 150px;
    padding-bottom: 100px;
}
.center h2{
    font-weight: 600;
    font-size: 70px;
}
.center p{
    font-weight: 400;
    font-size: 30px;
    margin-top: 20px;
}

.button{
    border: solid 2px white;
    border-radius: 100px;
    padding: 20px 80px;
    color: #23A6F0;
    margin-bottom: 50px;
}
    
.button:hover{
    background-color: #23A6F0;
    color: black;
    font-size: medium;
}
.first{
    height: 20vh;
    border: 2px solid #23A6F0;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
    display: inline;
    float: left;
}

.second{
    height: 20vh;
    border: 2px solid #23A6F0;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
}
.third{
    height: 20vh;
    border: 2px solid #23A6F0;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
}
.card{
    width:100%;
    border:2px #23A6F0 solid;
    text-align: center;
    margin:1%;
    padding-bottom: 100px;
    padding-top: 30px;
    margin-top: -100px;
    background-color: white;
}
.three{
    display: flex;
    position: relative;
    align-content: center 10px;
    padding-bottom: 100px;
}

.secondthree1{
    width: 100%;
    text-align: center;
    margin: 3%;
    padding-bottom: 80px;
    padding-top: 30px;
    
}
.secondthree{
    display: flex;
    position: relative;
    align-content: center 10px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}
.secondthree1 i{
font-size: 60px;
padding: 20px;
}









.industry{
    font-size: x-large;
    text-align: center;
    padding-bottom: 200px;
}


.row{
    float: right;
    width: 25%;
    padding: 5px;
    margin: 40px;
}

.stars::after{
    content: "";
    clear: both;
    display: table;
}



.stars{
    text-align: center;
    width: auto;
    padding-bottom: 200px;
    margin-right: 250px;
}
.icons{
    justify-content: space-between;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
#subscription{
    font-size: x-large;
    text-align: center;
    border: solid black 2px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 400px;
    margin-top: 100px;
    margin-right: 500px; 
    background-image: linear-gradient(to right, #014688, #D54E88); 
}

.emailplace{
    float: right;
    display: flex;
    border: solid 1px;
    margin-top: -50px;
    margin-right: 10px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.subscription2{
    background-color: #23A6F0;
    margin-left: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}




.pricing h2{
    font-size: xx-large;
}
.pricing{
    text-align: center;
    width: 100%;
    position: absolute;
    align-content: center;
    margin-top: 100px;
}

.freestandardpremiun{
    position: relative;
    justify-content: center;
    display: flex;
    align-content: center;
    padding-bottom: 150px;
    padding-top: 300px;
}


.free{
    float: right;
    padding: 5px;
    border: solid #23A6F0 1px;
    height: 500px;
    padding: 5px;
    border-radius: 10px;
    padding: 15px;

}
.ul{
    list-style-type: none;
    padding-top: 20px;
}

.freestandardpremiun .ul li{
    list-style: none;
    padding: 15px;
}

.standard{
    
    border-radius: 10px;
    background-Color: #252B42;
    color: white;
    padding: 5px;
    padding-bottom: 204px;
    height: 505px;
}
.colored{
    background-color: #252B42;
    color: white;
    
    text-align: center;
    display: flex;
}
.earth{
    float: right;
}
.colored h2{

}
.colored p{
    padding-right: 1155px;
    padding-left: 300px;
}

.monique{
    padding-left: 300px;
    margin-top: -300px;
    display: flex;
}
.monique2 ul li{
    list-style: none;
    padding: 20px;
}

.trial{
    margin: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color: #23A6F0;
    border-radius: 6px;
    text-align: center;
}
.shortlongshort{
    position: relative;
    justify-content: center;
    display: flex;
    align-content: center;
}
.bookinglist{
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    background-color: white;
}
.lastbutton{
    background-color: skyblue;
    margin-right: 100px;
    margin-left: 40px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: larger; 
}
.contactus{
    background-color: #23A6F0;
    float: right;
    margin-bottom: 100px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 300px;
    border-radius: 5px;
}
.consult{
    padding-top: 200px;
    padding-bottom: 200px;
}
.consult h2{
    padding-left: 200px;
}
.consult p{
    padding-left: 200px;
}
.footer{
   
    position: relative;
    justify-content: center;
    display: flex;
    align-content: center;
}
.footer li{
    list-style: none;
    text-decoration: none;
    
}
.footer a{
    text-decoration: none;
    color: gray;
}

.footerh3{
    margin: 50px;
}
.fit{
    float: right;
    margin-right: 800px;
}


