*{
    margin: 0;
    padding: 0;
}

.section1{
    background-size: cover;
    background: url("./images/image1.png");
    background-position: center center;
   
   background-repeat: no-repeat;

}

h1{
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 200px;
}
.navbar{
        
    padding-right: 900px;
    margin: 0;
}
.navbar li{
    float: right;
    list-style: none;
    font-size: larger;
    
}
.navbar a{
    padding: 10px;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.center{
    font-size: 100px;
    padding-left: 500px;
    padding-right: 500px;
    color: whitesmoke;
    padding-bottom: 100px;
}
.center2{
    font-size: large;
    padding-left: 500px;
    padding-right: 940px;
    color: white;
    padding-bottom: 100px;
}

.button{
    border: solid 2px white;
    border-radius: 100px;
    padding: 20px 80px;
    color: blue;
}
.button:hover{
    background-color:skyblue;
    color: black;
    font-size: medium;
}
.first{
    height: 20vh;
    border: 2px solid blue;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
    display: inline;
    float: left;
}

.second{
    height: 20vh;
    border: 2px solid blue;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
}
.third{
    height: 20vh;
    border: 2px solid blue;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
    float: right;
    display: inline;
}


.industry{
    font-size: x-large;
    text-align: center;
    padding-bottom: 200px;
}
.industry p{
    padding-right: 640px;
    padding-left: 640px;
}

.row{
    float: right;
    width: 25%;
    padding: 5px;
}

.stars::after{
    content: "";
    clear: both;
    display: table;
}
.row p{
    padding-left: 135px;
    padding-right: 135px;
}
.stars{
    text-align: center;
    width: auto;
    padding-bottom: 200px;
}
.icons{
    text-align: center;
    padding-bottom: 200px;
}
#subscription{
    font-size: xx-large;
    text-align: center;
    border: solid black 2px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: auto;
}
.pricing h2{
    font-size: xx-large;
}
.pricing{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.pricing p{
    padding-left: 735px;
    padding-right: 735px;
}
.freestandardpremiun{
    text-align: center;
    width: auto;
    padding-bottom: 900px;
}
.free{
    float: right;
    padding: 5px;
    border: solid blue 1px;
    height: 300px;
    padding: 5px;
    border-radius: 10px;
    width: 33.3%;
}
.ul{
    list-style-type: none;
}

.freestandardpremiun .ul li{
    list-style: none;
}

.standard{
    float: right;
    border-radius: 10px;
    height: 300px;
    background-Color: #252B42;
    color: white;
    padding: 5px;
}
.colored{
    background-color: #252B42;
    color: white;
    padding-bottom: 500px;
    text-align: center;
}
.earth{
    float: right;
    padding-right: 100px;
    padding-top: 100px;
}
.colored h2{
    padding-left: 200px;
    padding-top: 100px;
    font-size: 62px;
    padding-bottom: 50px;
}
.colored p{
    padding-right: 1155px;
    padding-left: 300px;
}

.monique{
    padding-left: 300px;
    margin-top: -300px;
    display: flex;
}
.monique2 ul li{
    list-style: none;
}

.trial{
    margin: 100px;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-top: 10px;
    background-color:skyblue;
    border-radius: 6px;
}
.shortlongshort{
}
.bookinglist{
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 20px;
    background-color: white;
}
.lastbutton{
    background-color: skyblue;
    margin-right: 100px;
    margin-left: 80px;
    margin-top: 300px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-size: larger; 
}
.contactus{
    background-color: skyblue;
    float: right;
    margin-bottom: 100px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 300px;
    border-radius: 5px;
}
.consult{
    padding-top: 200px;
}
.consult h2{
    padding-left: 200px;
}
.consult p{
    padding-left: 200px;
}