
*{
    margin: 0;
    padding: 0;
}


h1{
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 200px;
}
.navbar{
    
    padding-right: 900px;
    margin: 0;
}
.navbar li{
    float: right;
    list-style: none;
    font-size: larger;
    
}
.navbar a{
    padding: 10px;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.center{
    font-size: 100px;
    padding-left: 500px;
    padding-right: 500px;
    color: whitesmoke;
    padding-bottom: 100px;
}
.center2{
    font-size: large;
    padding-left: 500px;
    padding-right: 940px;
    color: white;
    padding-bottom: 100px;
}

.button{
    border: solid 2px white;
    border-radius: 100px;
    padding: 20px 80px;
    color: blue;
}
.button:hover{
    background-color:skyblue;
    color: black;
    font-size: medium;
}
.first{
    height: 20vh;
    border: 2px solid blue;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
    display: inline;
    float: left;
}

.second{
    height: 20vh;
    border: 2px solid blue;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
}
.third{
    height: 20vh;
    border: 2px solid blue;
    margin: auto;
    max-width: 200px;
    padding-left: 20px;
    float: right;
    display: inline;
}
.background{
    padding: 0;
    margin: 0;
    background-size: cover;
    height: 0px;
    background-repeat: no-repeat;
    width: auto;
}
.industry{
    font-size: x-large;
    text-align: center;
    padding-bottom: 200px;
}
.industry p{
    padding-right: 640px;
    padding-left: 640px;
}

.row{
    float: right;
    width: 25%;
    padding: 5px;
}

.stars::after{
    content: "";
    clear: both;
    display: table;
}
.row p{
    padding-left: 135px;
    padding-right: 135px;
}
.stars{
    text-align: center;
    width: auto;
}
.icons{
    text-align: center;
}

